// Place all the styles related to the reader controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#contents {
        height: 50px;
        width: 200px;
        font-size: 24pt;
}
